
/* HEADER */
.navbar-brand img {
    max-width: 150px;
}

/* NAVBAR */
.bg-light {
    background-color: #003177!important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar>.container-fluid{
    justify-content: flex-end;
}

/* .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: flex-end;
    margin-right: 0;
} */

/* .container-fluid {
    width: 0;
} */

.nav-item{
    margin-left: 20px;
    letter-spacing: 1px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #003177;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fbc717;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #fbc717;
}

.dropdown-item{
    letter-spacing: initial;
}

.dropdown-principal:focus, .dropdown-principal:hover {
    background-color: #003177;
}

/* JUMBOTRON */
.jumbotron{
    color: white;
    padding: 70px 0 30px 0;
}

.img-bg {
    background-position-y: -70px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.principal{
    width: 45%;
    margin-right: 0;
}

h1, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

p, li{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.jumbotron h1{
    margin-top: 3rem;
    font-size: 50px;
}

.info ul, .infom ul{
    font-size: 30px;
}

.contacto{
    margin-top: 130px;
}

.contactov{
    margin-top: 35px;
}

.contactom{
    margin-top: 190px;
}

.contacto h4, .contactov h4, .contactom h4{
    color: #fbc717;
    font-size: 26px;
}

.contacto p, .contactov p, .contactom p{
    font-size: x-large;
}


/* main container magnitudes */

.titulom img {
    max-height: 50px;
}

.magnitudes{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.titulom{
    display: flex;
}


/* ============ FOOTER ============ */
.footer-links{
    padding: 50px 0;
}

.footer-links img{
    max-height: 90px;
}

.copyright-area{
    background-color: #003177;
    padding: 10px 0;
    color: white;
}

.rowfooter{
    margin: 0;
}

.contfooter, .colfooter{
    padding: 0;
}


/* ================ VENTAS =============== */

.infov h1, .infom h1{
    margin-top: 3rem;
    font-size: 40px;
}

.infov ul{
    font-size: 27px;
}

/* row 95-99-104 */

/* MANTENIMIENTO Y REPARACION */

.mant-info{
    margin-top: 80px;
    margin-bottom: 80px;
}

.seccion{
    display: flex;
    height: 120px;
    margin: 10px 0;
}

.seccion img{
    max-height: 45px;
}

.icono{
    /* white-space: pre; */
    line-height: 65px;
    text-align: center;
    width: 69px;
}

.icon-gradient {
    position: relative;
    width: 69px;
    height: 69px;
    /* line-height: 75px; */
    border-radius: 50%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 28px; */
    z-index: 1;
}

.gradient-1 {
    /* background-image: linear-gradient(#6240c8 0%, #a145fe 100%); */
    background-color: #003177;
}

.texto{
    /* width: -webkit-fill-available; */
    width: 93%;
}

.texto h4{
    color: #0095d9;
}

.texto p{
    color: #003177;
    font-size: 20px;
}

